<%- include('header') -%>
<main role="main" class="container">

  <div class="row">
      <div class="col-md-12">
    <h1>Administration</h1>
    <button type="button" onclick="location.href= '/admin/addConference';" class="btn btn-primary">Ajouter une conférence</button>
    </div>
  </div>

</main><!-- /.container -->
<%- include('footer') -%>