<%- include('header') -%>
<main role="main" class="container" style="margin-top:6rem">

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h2>Conférence</h2>
                    <button type="button" class="btn btn-primary">Accéder</button>
                </div>
            </div>
            <div class="card mb-3">
                    <div class="card-body">
                        <h2>Conférence</h2>
                        <button type="button" class="btn btn-primary">Accéder</button>
                    </div>
                </div>    
        </div>
    </div>

</main>
<%- include('footer') -%>